.form-button {
  padding-left: 12px;
  padding-right: 8px;

  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15000000596046448px;
  text-align: left;
  color: $background-white;

  width: 119px;
  height: 32px;
  border: none;
  border-radius: 16px;
  transition-duration: 0.1s;
  background: $button-ping url(../img/arroy-right.svg) no-repeat 90% center;

  &:hover {
    transform: scale(0.9);
  }
}
