.for-swiper {
  @media (min-width: $screen-md) {
    & {
      padding: 24px;
    }
  }
  @media (min-width: $screen-lg) {
    & {
      padding: 32px;
    }
  }
}

.price-list {
  margin: 0;
  padding-top: 24px;
  padding-left: 0;
  display: flex;

  &__card {
    color: $text-main;
    padding: 0 16px;
    margin: 0;

    box-sizing: border-box;
    width: 260px;
    height: 200px;
    background-color: $background-white;

    border: 1px solid $brend-border;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;

    .category {
      color: $link-gray;
      opacity: 0.7218;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
    }
    .price-card__category {
      margin-top: 16px;
    }

    .price-card__card-text {
      margin-top: 4px;
    }

    .price-card__button {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
  }
  &__item--first {
    display: none;
  }

  @media (min-width: $screen-md) {
    & {
      margin: 0;
      padding: 0;

      background-color: $background-gray;
      border-radius: 12px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;

      &__item--first {
        display: block;

        .price-list__card {
          background-color: $background-gray;
          border: none;
          grid-template-columns: 60% 1fr 2fr;

          .price-card__button {
            display: none;
          }
        }
      }

      &__card {
        width: 100%;
        height: 64px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $background-gray;
        display: grid;
        grid-template-columns: 60% 1fr 1fr 1fr;

        .price-card__category {
          display: none;
        }
        .card-text--first {
          grid-column: 1/2;
          margin: auto 0;
        }
        .card-text--second {
          grid-column: 2/3;
          margin: auto 0;
        }
        .card-text--third {
          grid-column: 3/4;
          margin: auto 0;
        }
        .price-card__button {
          position: relative;
          right: 0;
          bottom: 0;
          grid-column: 4/5;
          margin: auto 0;
        }
      }
    }
  }
}

.price-info {
  padding-left: 16px;
  padding-bottom: 40px;

  @media (min-width: $screen-md) {
    & {
      padding-left: 24px;
    }
  }

  @media (min-width: $screen-lg) {
    & {
      padding-left: 32px;
    }
  }

  &__text {
    width: 421px;

    color: $text-main;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  &__button {
    padding: 0;
    border: none;
    background-color: transparent;

    color: $text-main;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;

    padding-right: 24px;
    background: url(../img/arroy-right-ping.svg) no-repeat right center;

    &:hover {
      transform: translateX(5px);
      font-style: italic;
    }
  }
}
