@import './variables.scss';
@import './src/scss/fontstyle.scss';
@import './main-block-style.scss';
@import './brends-block-style.scss';
@import './mobile-menu-style.scss';
@import './devices-block-style.scss';
@import './price-list-style.scss';
@import './main-footer-style.scss';
@import './feedback-form.scss';
@import './call-form.scss';
@import './circle-button.scss';
@import './read-more-button.scss';
@import './form-button.scss';

body {
  overflow-x: hidden;
}

.fixed_menu {
  overflow: hidden;
  position: fixed;
}

.block_none {
  display: none;
}

@media (max-width: $screen-xs) {
  body {
    overflow-x: hidden;
  }
}