$screen-xs: 320px;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-xl: 1440px;

$background-white: #fff;
$background-gray: #f8f8f8;

$text-main: #1b1c21;
$link-gray: #7e7e82;
$link-border: #b8ffec;

$header-border: #d9fff5;

$brend-border: #eaeaea;
$button-ping: #ff3e79;
$pagination-bullet: #b5b6bc;
$input-color: #b5b6bc;
